.game {
  z-index: -10;
  width: 100dvw;
  height: 100dvh;
}
.bodypart,
.head {
  position: relative;
  width: 3rem;
  height: auto;
  rotate: 90deg;
}
.snake {
  align-self: center;
  display: flex;
  flex-direction: column;
  &:active {
    animation: move 0.2s linear;
  }
}

@keyframes move {
  0%,
  50%,
  100% {
    transform: translateY(10px);
  }
}
.food {
  width: 3rem;
  height: auto;
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
}
.scaleUp {
  animation: scalemax 3s linear;
}
@keyframes scalemax {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(2);
  }
  75% {
    transform: scale(2.5);
  }
  100% {
    transform: scale(3);
  }
}
